*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 700px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}

.box{
    background-color: aqua;
    border-radius: 60px;
}

.one{
    grid-column: 1 / 9;
}

.two{
    grid-column: 2 / 10;
}

.three{
    grid-column: 3 / 11;
}

.four{
    grid-column: 4 / 12;
}

.five{
    grid-column: 5 / 13;
} 

.box:nth-child(1){
    background: url('https://images.unsplash.com/photo-1610212570473-6015f631ae96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-size: cover;
}

.box:nth-child(2){
    background: url('https://images.unsplash.com/photo-1606838830438-5f380a664a4e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-size: cover;
}

.box:nth-child(3){
    background: url('https://images.unsplash.com/photo-1606059100151-b09b22709477?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80');
    background-position: center;
    background-size: cover;
}

.box:nth-child(4){
    background: url('https://images.unsplash.com/photo-1603048675767-6e79ff5b8fc1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-size: cover;
}

.box:nth-child(5){
    background: url('https://images.unsplash.com/photo-1595433502559-d8f05e6a1041?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-size: cover;
}